# Virtual Environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask instance folder
instance/

# Environment variables
.env

# Uploads (important for security)
uploads/

# macOS
.DS_Store

# Windows
Thumbs.db

# IDEs
.vscode/
.idea/

# Logs
*.log

# SQLite database
*.db
