body {
    font-family: Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background: #b8fac7;
}

.wizard-container {
    width: 700px;
    margin: auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 10px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

label {
    display: block;
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 8px;
}

.start-btn {
    background-color: #38bdf8;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.start-btn:hover {
    background-color: #0ea5e9;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
}

.option-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.option:hover {
    background-color: #f1f5f9;
}

.option input {
    accent-color: #38bdf8;
}