<!DOCTYPE html>
<html lang="en">
<head>
    <title>Web-Based Encryption Decision and Implementation System</title>
    <link rel="stylesheet" type="text/css"href="static\styles.css">
</head>

<body>

<div class="wiz-container">
    <h1>Encryption Decision and Implementation System</h1>
    <h2>Enterprise-grade cryptographic algorithm selection for security professionals</h2>
</div>
    <a href="/quiz/step1" class="btn">Start Quiz</a>

    <!-- Skip quiz and apply encryption -->
    <a href="{{ url_for('result', direct='true') }}" class="btn">Encrypt Directly</a>
</body>
