<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
<div class="container">
<h2>Step 3: Performance Requirements</h2>
<form method="POST">
    
 <label><strong>Performance vs Security Priority</strong></label>
<div class="option-group">
    <label class="option">
        <input type="radio" name="performance" value="optimized" required>
        <span>Performance Optimized</span>
    </label>

    <label class="option">
        <input type="radio" name="performance" value="balanced">
        <span>Balanced</span>
    </label>

    <label class="option">
        <input type="radio" name="performance" value="securityop">
        <span>Security Optimized</span>
    </label>
</div>

<br>

<label><strong>Hardware Capabilities</strong></label>
<div class="option-group">
    <label class="option">
        <input type="radio" name="hardware" value="resourcecon" required>
        <span>Resource Constrained</span>
    </label>

    <label class="option">
        <input type="radio" name="hardware" value="standard">
        <span>Standard Computing</span>
    </label>

    <label class="option">
        <input type="radio" name="hardware" value="acceleration">
        <span>Hardware Acceleration Available</span>
    </label>
</div>

<br>

<label><strong>Expected Data Volume (Throughput)</strong></label>
<div class="option-group">
    <label class="option">
        <input type="radio" name="dataVolume" value="small" required>
        <span>Low Volume (less than 1 MB/s)</span>
    </label>

    <label class="option">
        <input type="radio" name="dataVolume" value="medium">
        <span>Medium Volume (1–100 MB/s)</span>
    </label>

    <label class="option">
        <input type="radio" name="dataVolume" value="high">
        <span>High Volume (100 MB/s – 1 GB/s)</span>
    </label>

    <label class="option">
        <input type="radio" name="dataVolume" value="veryhigh">
        <span>Very High Volume (1 GB/s+)</span>
    </label>
</div>

<br><br>

<div class="button-group">
    <a href="{{ url_for('step2') }}" class="btn">Back</a>
    <button type="submit" class="btn">Next</button>
</div>

</form>
</body>
